<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">Reset Password</div>
    <div class="card-body">
      <div class="text-center mb-4">
        <h4>Forgot your password?</h4>
        <p>Enter your email address and we will send you instructions on how to reset your password.</p>
      </div>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>
        <%= render partial: '/devise/shared/flash_messages' %>
        <% flash.clear %>
        
        <div class="form-group">
          <div class="form-label-group">
          <%= f.text_field(:email, as: :email,
                                  require: true,
                                  autofocus: true,
                                  placeholder: 'Enter Your Email',
                                  :class => "form-control")
          %>
          <%= f.label :email %> 
          </div>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Reset Password", class: 'btn btn-primary btn-block' %>
        </div>
      <% end %>

      <div class="text-center">
        <%- if controller_name != 'sessions' %>
          <%= link_to "Log in", new_session_path(resource_name), class: 'd-block small' %><br />
        <% end -%>
      </div>
    </div>
  </div>
</div>
