
<%= simple_form_for(@income) do |f| %>
  <div class="form-group row">
    <%= f.label :recieved_on, class: "col-form-label col-sm-2" %>
    <div class="col-sm-6">
      <%= f.text_field(:recieved_on, as: :date, value: f.object.recieved_on.try(:strftime,"%m/%d/%Y"),  :class => "form-control") %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :description, class: "col-form-label col-sm-2" %>
    <div class="col-sm-6">
      <%= f.text_field :description, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :amount, class: "col-form-label col-sm-2" %>
    <div class="col-sm-6">
      <%= f.text_field :amount, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 text-center">
      <%= f.submit "Add Income", class: "btn btn-primary mb-2" %>
      <%= link_to "Cancel", :back,  class: 'btn btn-secondary mb-2', data: { confirm: 'Are you sure you want to leave this page?' } %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(function () {
    $("#income_recieved_on").datepicker({
      format: 'mm/dd/yyyy',
      orientation:  'top auto',
      zIndexOffset: 999
    });
  });
</script>