<h2> Listing all Expenditures</h2>
<%= link_to "New Entry", new_expenditure_path, class: 'btn btn-primary align-right' %>
<table class="table table-inverse">
    <tr>
      <th>S.no</th>
      <th>Spent_on</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Paid_to</th>
    </tr>
<% @expenditures.each do |expenditure| %>
     <tr>
      <td><%= expenditure.id%></td>
      <td><%= expenditure.spent_on %></td>
      <td><%= expenditure.description %> </td>
      <td><%= expenditure.amount %> </td>
      <td><%= expenditure.paid_to %> </td>
<td><%= link_to 'Edit', edit_expenditure_path(expenditure) %></td>

<td><%= link_to 'Show', expenditure_path(expenditure) %></td>
<td><%= link_to 'Delete', expenditure_path(expenditure), method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>

  <% end %>
</table>